.idea
.terraform

# .tfstate files
*.tfstate
*.tfstate.*

*.tfplan
.terraform.tfstate.lock.info
crash.log
.DS_Store

/__pycache__/
*.pyc
/airflow/dags/__pycache__/
*.backup

fernet.txt
rds_password.txt
*.pem